<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Restaurant App</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div id="wrap">
			<ul class="navbar">
				<li><a href="/">home</a></li>
				<li><a href="#">tables</a>
					<ul>
						<li><a href="/parties/new">add</a></li>
						<li><a href="/parties">open</a></li>
						<li><a href="/closed">closed</a></li>
					</ul>
				</li>
				<li><a href="#">menu</a>
					<ul>
						<li><a href="/menu_items">view</a></li>
						<li><a href="/menu_items/new">add</a></li>
					</ul>
				</li>
			</ul>
		</div>

    <h1>Sinatra Warden Example</h1>

    <p><a href="/auth/login">Log In</a> | <a href="/protected">Protected Page</a> | <a href="/auth/logout">Log Out</a></p>

    <% if flash[:success] %>
    <div style="color:green;">
      <%= flash[:success] %>
    </div>
    <% end %>

    <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
    <% end %>

		<%= yield %>

	</div><!-- container -->


<!-- End Document
	================================================== -->
</body>
</html>

