<h1>New User</h1>
<form action="/auth/new" method="post">
	Email: <br><input type="text" name="user[email]"><br>
	Password: <input type="text" name="user[password]"><br>
	<input type="submit" value="Create User" class="button">
</form>