
<div class= "tables">
<% @parties.each do |party| %>
	<a href="/parties/<%= party.id %>"><div class="table-index three columns">
		<span class="lg-table-name"><%= party.table_name %></span><br><%= party.name %>
	</div></a>
<% end %>
</div>