<div id="new-party">
<h1>New Party</h1>
<form action="/parties" method="post">
	Name: <br><input type="text" name="name"><br>
	Party Size: <input type="text" name="number_people"><br>
	Table Name: <input type="text" name="table_name"><br>
	<input type="submit" value="Add New Party" class="button">
</form>
</div>