<h1>New Party</h1>
<form action="/parties" method="post">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="number_people" placeholder="party size">
	<input type="text" name="table_name" placeholder="table">
	<input type="submit" value="Add New Party">
</form>